<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feed de Denúncias - BH</title>
  <link rel="stylesheet" href="../assets/css/feed.css">
</head>
<body>
  <header>
        <a href="/views/home_page.html"><img src="../assets/imgs/home-icon.png" alt="home" class="icone"></a>
        <h1 class="titulo-header" id="header-title">Radar Urbano</h1> 
        <a href="/views/perfil.html"><img src="../assets/imgs/perfil-icon.png" alt="perfil" class="icone"></a>
  </header>
  <div class="container">
    <h1 class="titulo-header">Feed de Denúncias</h1>
    <div id="feed" class="feed"></div>
  </div>
 <script src="../assets/js/feed.js"></script>
  <footer class="footer">
    <a href="/views/faq.html" class="footer-button">Perguntas Frequentes</a>
  </footer>
</body>
</html> 