<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mapa de Denúncias</title>
  <link rel="stylesheet" href="../assets/css/style.css" />
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiGL7OYCoDXQxc2BGUK6e_tjGPdmh-gBs&callback=initMaps"></script>
</head>
<body>
  <header>
    <h1 class="titulo">Rachadura</h1>
  </header>

  <main>
    <div class="cartao">
      <p class="titulo">Mapa de Denúncias</p>
      <select id="filtroCategoria" class="input">
        <option value="todas">Todas as categorias</option>
        <option value="carro_quebrado">Carro Quebrado</option>
        <option value="arvore_caida">Árvore Caída</option>
        <option value="cano_estourado">Cano Estourado</option>
        <option value="buraco">Buraco</option>
      </select>
      <p class="descricao">Visualize locais marcados</p>
      <div class="map-container" id="miniMap"></div>
    </div>
  </main>

  <footer>
    <p class="footer-text">Mapa | Favoritos | Perfil</p>
  </footer>

  <div id="mapModal" class="modal">
    <span class="close">&times;</span>
    <div id="fullMap"></div>
  </div>

  <script src="../assets/js/home_page.js"></script>
</body>
</html>