<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mapa de Denúncias</title>
  <link rel="stylesheet" href="../assets/css/home_page.css" />

</head>
<body>
  <header>
    <h1 class="titulo">Rachadura</h1>
  </header>

  <main>
    <div class="cartao">
      <p class="titulo">Mapa de Denúncias</p>
      <select id="filtroCategoria" class="input">
        <option value="todas">Todas as categorias</option>
        <option value="carro_quebrado">Carro Quebrado</option>
        <option value="arvore_caida">Árvore Caída</option>
        <option value="cano_estourado">Cano Estourado</option>
        <option value="buraco">Buraco</option>
      </select>
      <p class="descricao">Visualize locais marcados</p>
      <div class="map-container" id="miniMap"></div>
    </div>
  </main>
  <nav class="navbar">
  <a href="home_page.html" class="botao">Mapa</a>
  <a href="cadastro_denuncias.html" class="botao">Cadastrar</a>
  <a href="comentarios.html" class="botao">Comentários</a>
  <a href="noticias.html" class="botao">Notícias</a>
  <a href="noticias_videos.html" class="botao">Vídeos</a>
  </nav>

  <div id="mapModal" class="modal">
    <span class="close">&times;</span>
    <div id="fullMap"></div>
  </div>

  <script src="../assets/js/home_page.js"></script>
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiGL7OYCoDXQxc2BGUK6e_tjGPdmh-gBs&callback=initMaps"></script>
</body>
</html>