<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radar Urbano - Vídeos</title>
  <link rel="stylesheet" href="../assets/css/style.css" />
</head>

<body>
    <header>
        <a href="/views/home_page.html"><img src="../assets/imgs/home-icon.png" alt="home" class="icone"></a>
        <h1 class="titulo-header" id="header-title">Radar Urbano</h1>
        <a href="/views/perfil.html"><img src="../assets/imgs/perfil-icon.png" alt="perfil" class="icone"></a>
    </header>
  <main>
    <div class="player-container">
      <div id="player"></div>
    </div>
  </main>
  <footer class="footer">
        <a href="/views/faq.html" class="footer-button">Perguntas Frequentes</a>
  </footer>
  <script src="../assets/js/noticias_videos.js"></script>

  <script src="https://www.youtube.com/iframe_api"></script>
  
</body>

</html>